# Python
__pycache__/
*.py[cod]
*.egg-info/

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env

# Django
db.sqlite3
db.sqlite3-journal
*.log
media/
staticfiles/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
